*{
    margin: 0;
    padding: 0;
    font-family: 'Alkalami', serif;
}

#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), #9c3dd3), url("/Assets/MenuArt.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 5%
}

.CoAT1{
    width: 450px;
    position: relative;
    top: 4%;
    align-self: center;
}

.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-text h1{
    font-size: 130px;
    font-family: 'Berkshire Swash', cursive;
}

.banner-text p{
    font-size: 20px;
    font-style: italic;
    color: #15d4ee;
}

.banner-btn{
    margin: 70px auto 0 ;

}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #9c3dd3;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color: #5cffdf;
}

#sideNav{
    width: 150px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #272727;
    z-index: 2;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menuBtn{
    width: 50px;
    height: 50px;
    background: #272727;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 20px;
    margin-top: 15px;
}

@media screen and (max-width: 770px)
{
    .banner-text h1
    {
        font-size: 44px;
    }
    .banner-btn a
    {
        display: block;
        margin: 20px auto;
    }
    .CoAT1
    {
        max-width: 80%;
    }
}

/*-- About --*/
#About{
    width: 100%;
    padding: 70px 0;
    background-color: #272727;
}

.Title-Text{
    text-align: center;
    padding-bottom: 70px;
}

.Title-Text h2{
    text-align: center;
    margin: 2%;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    color: #15d4ee;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.Title-Text h2::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#15d4ee, #9c3dd3);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.Title-Text h1{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}

.Title-Text p{
    font-size: 20px;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;

}

.Title-Text img{
    background-size: cover;
    background-position: center;
}

/*-- Games --*/
#Games{
    width: 100%;
    padding: 70px 0;
    background-color: #3d3d3d;
}

.Games-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.Single-game{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.Single-game img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#9c3dd3);
    opacity: 0;
    transition: 1s;
}

.Single-game:hover .overlay{
    opacity: 1;
    
}

.game-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.game-desc p{
    font-size: 14px;
}

.Single-game:hover .game-desc{
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width: 770px)
{
    .Single-game
    {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .game-desc p
    {
        font-size: 12px;
    }
    hr
    {
        margin: 5px auto;
    }
    .Single-game:hover .game-desc{
        bottom: 25% !important;
    }
}

/*-- Team --*/
#Team{
    width: 100%;
    padding: 70px 0;
    background-color: #272727;
}

.Team-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.Team-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #9c3dd3;
    cursor: pointer;
    color: #fff;
}

.Team-col:hover{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #15d4ee;
    cursor: pointer;
    color: #fff;
    transform: scale(1.075);
    transition: 0.2s ease-in;
}

.Team-col p{
    font-size: 14px;
}

.Member{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.Member img{
    width: 75px;
    margin-right: 20px;
    border-radius: 3px;
}

.Member-info{
    text-decoration: none;
}

.Member-info img{
    width: 25px;
    height: 25px;
    margin-right: -2px;
}

.Member-info h4{
    font-size: 18px;
}

@media screen and (max-width: 770px)
{
   .Team-col
   {
        flex-basis: 100%;
   } 
   .Team-col:hover
   {
        flex-basis: 100%;
   }
}

#Contact{
    padding: 20px 0 20px;
    background-color: #3d3d3d;
    position: relative;
}

.contact-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-row h1{
    margin: 10px 0;
    text-align: center;
    color: #fff;
}

.contact-row img{
    position: relative;
    top: 4%;
    align-self: center;
}

.contact-img{
    max-width: 250px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
}

.contact-socials{
    text-align: center;
}

.contact-socials p{
    font-size: 15px;
    margin-top: 15px;
}

@media screen and (max-width: 770px)
{
    .contact-img
    {
        max-width: 200px;
    }
}